body {
    background-color: rgb(243, 151, 200);
}

#bar{
    text-align: center;
    background-color: bisque;
    color:rgb(92, 28, 28);
    padding: 5px;
    margin: 10px;
    font-family: cursive;
    clear: both; 
}

#main-nav {
    background-color: rgb(4, 236, 190);
    border: 2px solid black;
}


#main-nav li {
    display: inline-block;
    position: relative;
    padding: 10px;
}

#main-nav li:hover {
    background-color: rgb(0, 8, 255);
    color:rgb(236, 236, 241)
}

#Name:focus {
    width: 300px;
}        


.main-content {
    background-color:rgb(232, 221, 131);
    border: 2px solid black;
    width: 60%;
    float: left;
    margin: 25px; 
    padding: 20px;
    font-family: 'Times New Roman', Times, serif; 
}

#rules {
    text-align: center;
    background-color: rgb(247, 147, 6);
    border: 2px solid black;
    float: right;
    width: 25%;
    margin: 25px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#rules:hover {
    background-color: rgb(240, 59, 4);
    color: white
}